#!/bin/bash
# ==============================================================================
# 2. API (Backend Mock + Node Exporter)
# ==============================================================================
cat <<'EOF' > api.sh.tftpl
exec > >(tee /var/log/user-data.log|logger -t user-data -s) 2>&1
echo ">>> CONFIGURANDO API + MONITOREO <<<"

# Instalacion Base
sudo apt update -y
sudo apt install -y ca-certificates curl gnupg lsb-release
sudo mkdir -p /etc/apt/keyrings
curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --dearmor -o /etc/apt/keyrings/docker.gpg
echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
sudo apt update
sudo apt install -y docker-ce docker-ce-cli containerd.io docker-compose-plugin
sudo mkdir -p /opt/ansd/app
sudo ip route add 192.168.1.0/24 via 10.0.1.40

# Docker Compose
cat <<EOC > /opt/ansd/app/docker-compose.yml
services:
  # Servicio Principal
  api:
    image: traefik/whoami
    container_name: ansd-api
    restart: always
    ports: ["8080:80"]

  # Agente de Monitoreo
  node_exporter:
    image: prom/node-exporter:latest
    container_name: monitoring
    restart: always
    ports: ["9100:9100"]
EOC

# Permisos y Arranque
sudo chown -R ubuntu:ubuntu /opt/ansd
cd /opt/ansd/app && docker compose up -d
EOF